body {
    transform: scale(1.1);
    transform-origin: top left;
    width: 90.91%;
    /* 100 / 1.1 */
}


/* Navbar */
.navbar {
    background: linear-gradient(90deg, #0f0f0f, #14001f, #001a0f);
    box-shadow: 0 0 15px #8a2be2, 0 0 30px #39ff14;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo-text {
    color: white;
}

/* Nav links */
.nav-item {
    position: relative;
    padding: 6px 12px;
    color: white;
    transition: all 0.4s ease;

}

/* Underline glow */
.nav-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 50%;
    bottom: -6px;
    background: linear-gradient(90deg, #a855f7, #39ff14);
    transition: all 0.4s ease;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #39ff14;
}

/* Hover effect */
.nav-item:hover {
    /* text-shadow: 0 0 8px #39ff14, 0 0 15px #a855f7; */
    transform: translateY(-2px) scale(1.08);
}

.nav-item:hover::after {
    width: 100%;
}

/* Mobile menu */
.mobile-menu {
    display: none;
    background: #0a0a0a;
    box-shadow: 0 0 15px #a855f7;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
}

/* Toggle open */
#menu-toggle:checked~.mobile-menu {
    display: flex;
}

/* Hide desktop links on mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}

.toggle-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

/* Hide default checkbox */
#miniToggle {
    display: none;
}

/* Toggle Track */
.mini-switch {
    width: 50px;
    height: 24px;
    background-image: linear-gradient(to right, rgb(0, 255, 8), rgba(18, 226, 67, 0.084));
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

/* Toggle Knob */
.mini-switch::before {
    content: "";
    width: 18px;
    height: 18px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: 0.3s;
}

/* ON State */
#miniToggle:checked+.mini-switch {
    background-image: linear-gradient(to right, rgba(18, 226, 67, 0.084), rgb(247, 0, 255));
}

#miniToggle:checked+.mini-switch::before {
    left: 29px;
}

/* search button */
.btn {
    background-image: linear-gradient(135deg, #d01fef -30%, #111111 50%, #0ff166 150%);
    color: white;
    height: auto;
    width: auto;
    margin: 5px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

/* Main Content */
.mainContent {
    background-image: linear-gradient(135deg, #d01fef -20%, #000000 80%, #0ff166 150%);
    height: 200px;
    width: 450px;
    border-radius: 20px;
    display: none;
}
